.topbar {
    height: 60px;
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    justify-content: space-between;
    flex-shrink: 0;
}

.logo {
    font-weight: 600;
    font-size: 2rem;
}

.search-box {
    width: 400px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
}

.profile img {
    border-radius: 50%;
}